body {
    font-family: 'ubuntu', 'arial', 'sans';
    color: #555;
    background-color: #fff;
}

#col {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#logo {
    margin: 0 12px -4px 0;
    height: 30px;
    vertical-align: top;
}

h1 {
    margin: 48px 0;
}

#domains {
    margin: 24px auto;
    padding: 0;
    list-style: none;
}

#domains li {
    display: inline-block;
    margin: 8px;
    padding: 4px;
    width: 170px;
    height: 80px;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: #ddd 0 0 10px;
}

#domains img {
    display: block;
    margin: 8px auto;
    width: 32px;
}

#domains .domain {
    display: block;
    margin: 8px 0;
    text-align: center;
}
